*{
	margin:0px;
	padding:0px;
}

p{
	font-family: poppins,sans-serif !important;

}
/****************** navbar **********************/
.navbar-area .top-nav .info-list li a {
    color: #b5b5b5;
    padding-left: 6px !important;
}
/***********************************/

/****************** banner ****************/
.home-banner-area.banner-type-one {
    padding-top: 280px;
    padding-bottom: 200px;
    background: url(../images/banner_1.png) no-repeat center;
}
/***************************/

/************ Service **********/
.featured-service-section .featured-service-image img {
    display: block !important;
    height: 76%;
    margin-top: 53px;
    /* width: 100%; */
}
/****************************/



.buy-now-btn {
	display: none !important;
}


/****************** news letter ***************/
.newsletter-section {
    position: relative !important;
    overflow: hidden !important;
    z-index: 1 !important;
    background: url(../images/newsletter_bg.png) no-repeat center !important;
    background-size: cover !important;
}
/*************************/


/*********************** feature ************************/
.single-feature-content i {
font-size: 43px !important;
    color: #1f0dc3 !important;
}
/**************************/


/******************* About ******************/
.about-feature-blc i{font-size: 20px !important;color: #00a2f3 !important;top: 4px;position: relative;/* margin: 10px; *//* padding: 1px; */
}

/********************* fature ********************/
.featured-service-section .content-inner i {

font-size: 40px !important;
position: relative !important;
bottom: 10px !important;
color: #6610f2 !important;
}

/*******************************/

/************* footer ***************/
.footer-area .footer-widget .footer-quick-links li::before {
    content: "\f35A" !important;
    position: absolute;
    left: 0;
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 13px !important;
    top: 2px !important;

}

.contact-info i{
    float: left !important;
    margin-top: -5px !important;
} 

/***************************/

/*********************** copy Right ***************/

.copy-right-area .copy-right-content p {
    margin-bottom: 0;
    font-family: poppins,sans-serif !important;
    font-size: 15px !important;
}

/********************************/


/********************* arrow **********************/
.envy.envy-angle-up:before{
	display: none !important;
}
/********************************/


/******************** test ******************/
.review{
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0 ;
}
.name{
    font-size: 18px;
    color: #6610f2;
    margin: 0;
}
.job{
    color: #c8c8c8;
    font-size: 14px;
}
.carousel-inner{
    max-width: 800px;
}
.fa-minus {
    font-size: 14px;
}
.carousel-indicators {
    bottom: -20px;
    right: 0;
    margin: 0;
}

.carousel-indicators [data-bs-target ] {
    height: 10px;
    border: 2px solid black;
    width: 10px;
    background-color: inherit;
    border-radius: 50%;
}
.carousel-indicators .active{
    border: 2px solid transparent;
    background-color:#6610f2 !important;
}
.left{
    color: rgb(20, 20, 20);
    font-weight: 600;
}
.right{
    color: rgb(12, 12, 12);
    font-weight: 600;
}
.carousel-control-next, .carousel-control-prev {
    position: relative;

}
@media (max-width:560px) {
    .review{
        font-size: 14px;
        font-weight: 600;
    }
    .name{
        font-size: 13px;
    }
    .job{
        font-size: 10px;
    }
    .right{
        font-size: 12px;
    }
    .left{
        font-size: 12px;
    }
    .carousel-indicators [data-bs-target ] {
        height: 8px;
        border: 1px solid black;
        width: 8px;
        background-color: inherit;
        border-radius: 50%;
    }
    .carousel-indicators .active{
        border: 1px solid transparent;
        background-color:#c1e718;
    }
}


/************************************ switch box *******************/
.switch-box{
	display: none !important;
}
/*****************************/

/**************** go top *****************/
.go-top {
	display: none !important;
}


/*********************************** ABOUT US ***********************************/

.page-title-area::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(../images/page_title_bg.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/************* footer *****************/
.footer-area .footer-widget .navbar-brand img:last-child {
    display: block !important;
    position: relative !important;
    right: 27px !important;
}

.footer-area .footer-widget .navbar-brand {
    margin-bottom: -18px !important;
    margin-top: -10px;
    padding: 0;
}
/*************************/

/*************************** Responsive desgin **********************/

@media (max-width: 991.98px){
.navbar-area .mobile-nav.mean-container a.logo img:first-child {
    display: inline-block;
    position: relative;
    bottom: 33px;
    right: 22px;
}
.navbar-area.stickyadd .mobile-nav.mean-container a.logo img:last-child {
    position: relative;
    display: inline-block;
    bottom: 35px;
    right: 15px;

}
	.featured-service-section .featured-service-image img {
    display: block !important;
    height: 100%;
    margin-top: 0px;
    /* width: 100%; */
}
}


